<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${add} ? 'Criar avaliação' : 'Editar avaliação'" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1 th:text="${add} ? 'Criar avaliação:' : 'Editar avaliação:'" />
        <a th:href="@{/reviews}">Voltar para lista de avaliações</a>
        <br/><br/>
        <form th:action="${add} ? @{/reviews/add} : @{/reviews/{reviewId}/edit(reviewId=${review.id})}"
              th:object="${review}" method="POST">
            <table border="0">
                <tr th:if="${review.id}">
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${review.id}">...</td>             
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{rating}" /></td>              
                </tr>
                <tr>
                    <td>Título</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{title}" /></td>              
                </tr>
                <tr>
                    <td>Descrição</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{description}" /></td>              
                </tr>
            </table>
            <input type="submit" th:value="${add} ? 'Criar' : 'Atualizar'" />
        </form>
 
        <br/>
        <!-- Check if errorMessage is not null and not empty -->       
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />       
    </body>
</html>